# Ігноруємо усі файли
*

# Не ігноруємо директорії
!*/

# Не ігноруємо файли із розширенням
!*.*

# Не ігноруємо наступні файли:
!**/LICENSE

# Ігноруємо наступні директорії:
**/lib
**/backup

# Ігноруємо *.exe файли:
*.exe


